{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}

<div class="ui segment">
    <div class="field">
        {{ form_row(form.parent) }}
        {{ form_row(form.style) }}
        {% include '@MonsieurBizSyliusMenuPlugin/Admin/MenuItem/_media.html.twig' %}
        {{ translationForm(form.translations) }}
    </div>
</div>
